@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
html {
    scroll-behavior: smooth;
}
.mx-w-1200 {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.navbar-cover {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
  background-color: #ffffff;
  color: #333232;
  padding: 10px 20px;
  z-index: 999;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar .logo img {
  width: 150px;
}
.navbar .links {
  display: flex;
}
.navbar .links ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar .links ul li {
  margin: 0 15px;
}
.navbar .links ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #333;
  transition: 0.3s;
}
.navbar .links ul li a:hover {
  color: #2a6dc4;
}
.navbar .links ul li .btn {
  border: 2px solid #2a6dc4;
  padding: 10px 15px;
  color: #2a6dc4;
}
.navbar .links ul li .btn:hover {
  background-color: #2a6dc4;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
  }
  .navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }
  .navbar .links {
    justify-content: center;
  }
  .navbar .links ul {
    flex-direction: column;
  }
  .navbar .links ul .li-btn {
    margin-top: 15px;
  }
  .navbar-cover {
    padding: 40px 0;
  }
}

/* ================================= Banner ================================= */

.banner-bg {
  background: url(https://swift.quicksekure.com/assets/images/home-bg.jpg);
  width: 100%;
  height: calc(100vh - 130px);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.banner {
  display: flex;
}
.banner .slider {
  width: 70%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 400px;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.image-container .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.carousel img {
  height: 100%;
  width: 100%;
}

.login-container {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: 30px;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
  color: #333;
  width: 100%;
}

.login-container input:focus {
  border-color: #ff4500;
}

.login-container button {
  background-color: #ff4500;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-container button:hover {
  background-color: #e63900;
}

@media screen and (max-width: 1100px) {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper {
    height: auto;
  }
  .banner-container {
    flex-wrap: wrap;
    padding: 32px;
  }

  .login-container {
    min-width: none;
    max-width: 700px;
    margin: 20px 0 0 0;
  }
  .banner .slider {
    width: 100%;
    max-width: 700px;
  }
}
@media screen and (max-width: 800px) {
  .banner-bg {
    height: auto;
  }
}

/* <------------------------------------------------Banner end--------------------------------------------------> */

/* <-----------------------------------------------About Us start-------------------------------------------------> */
.about {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.about .about-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
}

.about .about-container .text {
  width: 60%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .about-container .text h1 {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  position: relative;
  margin-bottom: 20px;
  width: fit-content;
}

.about .about-container .text h1::before {
  content: "";
  width: 50%;
  background: #333;
  height: 3px;
  position: absolute;
  bottom: -7px;
}

.about .about-container .text span {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #333333b0;
}

.about .about-container .text p {
  font-size: 15px;
  letter-spacing: 0.2px;
  margin-top: 10px;
  color: #777;
  font-weight: 500;
}

.about .about-container .img {
  width: 40%;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .about-container .img img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .about .about-container {
    flex-direction: column-reverse;
  }

  .about .about-container .img {
    width: 100%;
  }

  .about .about-container .img img {
    max-width: 250px;
  }

  .about .about-container .text {
    width: 100%;
    padding: 40px 30px 0 30px;
  }
}

/* <------------------------------------------------About Us end--------------------------------------------------> */

/* <------------------------------------------------Benefits start--------------------------------------------------> */
.benefits {
  background: #dff1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

.benefits-container {
  max-width: 1200px;
  width: 100%;
}

.benefits-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 23% 23% 23% 23%;
}

.benefits-container div {
  background: #fff;
  width: 100%;
  height: 200px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  border-radius: 16px;
  margin-top: 20px;
}

.benefits-container div span {
  font-size: 17px;
  font-weight: 700;
  margin: 10px 0;
}

.benefits-container div p {
  font-size: 15px;
}

@media screen and (max-width: 1200px) {
  .benefits-container {
    grid-template-columns: 48% 48%;
  }
}

@media screen and (max-width: 800px) {
  .benefits-container {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 500px) {
  .benefits {
    padding: 50px;
  }
}

/* <------------------------------------------------Benefits end----------------------------------------------------> */

/* <------------------------------------------------Footer end----------------------------------------------------> */
.footer {
  background: #ffeded;
}

.footer .footer-link {
  background: #333;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.footer .footer-link > div {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.footer .footer-link > div > div {
  width: 33.3333333%;
  padding: 0 20px;
}

.footer .footer-link > div > div > h1 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer .footer-link > div > .footer-about > p {
  max-width: 300px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.footer .footer-link > div > div > ul {
  list-style: none;
}

.footer .footer-link > div > div > ul > li {
  margin: 5px 0;
}

.footer .footer-link > div > div > ul > li > a {
  text-decoration: none;
  color: #f3f3f3;
  transition: 0.3s;
}

.footer .footer-link > div > div > ul > li > a:hover {
  color: #007bff;
}

.footer .sub-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  background: #222;
}

.footer .sub-footer > div {
  height: 70px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
}

.footer .sub-footer > div .text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .footer .footer-link > div {
    flex-direction: column;
  }

  .footer .footer-link > div > div {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }
  .quick-link {
    margin: 30px 0;
  }
}

/* <------------------------------------------------Footer end----------------------------------------------------> */
